<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Excercise.MagicEightBallService">
        <endpoint address="http://localhost:8080/MagicEightBallService"
                  binding="basicHttpBinding"
                  contract="Excercise.IEightBall"/>
      </service>
    </services>
  </system.serviceModel>
   
</configuration>